Repository daniellee0420/Shopify-api-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "git add"],
  "*.{json,md,ts,yml,yaml}": ["prettier --write", "git add"]
}

[test] Increase code coverage
  test/checkout.test.js
Due: eslint --fix

[pkg] Update nyc to version 15.0.0
  package.json
Due: prettier --write

[dist] 3.0.0
  package.json
Due: prettier --write

[ts] Add provinces to IShippingZoneCountry interface (#328)
  index.d.ts
Due: prettier --write

[pkg] Update husky to version 4.2.1
  package.json
Due: prettier --write

[pkg] Update lint-staged to version 10.0.2
  package.json
Due: prettier --write

[pkg] Update mocha to version 7.0.1
  package.json
Due: prettier --write

[lint] Remove git add command from lint-staged config
  .lintstagedrc.json
Due: prettier --write

[api] Add Collection resource
  README.md
  index.d.ts
  resources/collection.js
  resources/index.js
  test/collection.test.js
  test/fixtures/collection/index.js
  test/fixtures/collection/res/get.json
  test/fixtures/collection/res/index.js
  test/fixtures/collection/res/products.json
Due: eslint --fix, prettier --write

[dist] 3.1.0
  package.json
Due: prettier --write
